{{ partial "head.html" . }}
<section class="main">
  <div class="main-header">
    <div class="main-header-text">
      <h2 class="xlarge">We’re not gurus. We’re not ninjas. We just develop websites really well.</h2>
    </div>
  </div>
</section>
<section class="main">
  <div class="main-cost">
    <div class="main-cost-text">
      <h2 class="xlarge">Oh, and we can do it no matter what your budget is*.</h2>
      <small>* Although if your budget is, say, $3 you’ll probably get a fairly modest website.</small>
    </div>
  </div>
</section>
<section class="main">
  <div class="main-cta">
    <div class="main-cta-text">
      <h2 class="xlarge"><a class="underline" href="http://m.me/stuart.mitchell.3133">Message me</a> now to chat about how we can work together.</h2>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}